---
import Stats from "../components/Stats.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import Blog from "../components/Blog.astro";
---

<Layout title="Welcome to Astrolus.">
  <main class="space-y-40 mb-40">
    <HeroSection />
    <Stats />
    <Blog />
  </main>
</Layout>
