---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Maximize Your Security with Microsoft 365 <span class="text-primary dark:text-white"></span></h1>
<br>
<br>
<br>

                <h1 class="text-gray-900 dark:text-white font-bold text-3xl md:text-3xl xl:text-6xl">Our Services <span class="text-primary dark:text-white"></span></h1>
<br>
<br>
<h4 class="text-gray-900 dark:text-white font-bold text-3xl md:text-3xl xl:text-3xl">Endpoint Management <span class="text-primary dark:text-white"></span></h4>
<div class="my-8">
  <img src="Intune.jpg" alt="Description of Image" class="mx-auto rounded-lg shadow-lg" />
</div>

                <p class="mt-8 text-gray-700 dark:text-gray-300">Microsoft Endpoint Manager Aka Intune helps you manage and secure your devices and applications. Our consultants can help you set up and configure Intune to ensure that your devices are compliant and secure</p>

                <h4 class="text-gray-900 dark:text-white font-bold text-3xl md:text-3xl xl:text-3xl">Auto Pilot Deployment <span class="text-primary dark:text-white"></span></h4>
<div class="my-8">
  <img src="Autopilot.png" alt="Description of Image" class="mx-auto rounded-lg shadow-lg" />
</div>
<p class= "mt-8 text-gray-700 dark:text-gray-300">
  AutoPilot is a modern deployment solution that simplifies and streamlines the setup and configuration of new Windows devices. Our team can assist you with deploying and configuring AutoPilot to enable your organization to provision new devices with ease.
</p>

<h4 class="text-gray-900 dark:text-white font-bold text-3xl md:text-3xl xl:text-3xl">Defender for Office <span class="text-primary dark:text-white"></span></h4>
<div class="my-8">
  <img src="defenderforoffice.jpg" alt="Description of Image" class="mx-auto rounded-lg shadow-lg" />
</div>
<p class= "mt-8 text-gray-700 dark:text-gray-300">
  Defender for Office provides advanced threat protection for your email, documents, and other Office apps. Our experts can help you configure and manage Defender for Office to keep your organization safe from cyber threats.
</p>

<h4 class="text-gray-900 dark:text-white font-bold text-3xl md:text-3xl xl:text-3xl">Azure Information Protection <span class="text-primary dark:text-white"></span></h4>
<div class="my-8">
  <img src="Exchange-migrations.jpg" alt="Description of Image" class="mx-auto rounded-lg shadow-lg" />
</div>
<p class= "mt-8 text-gray-700 dark:text-gray-300">
  Azure Information Protection helps you protect sensitive data by classifying, labeling, and protecting it from unauthorized access. Our team can assist you with deploying and configuring Azure Information Protection to meet your organization's needs
</p>

<h4 class="text-gray-900 dark:text-white font-bold text-3xl md:text-3xl xl:text-3xl">Data Loss Prevention <span class="text-primary dark:text-white"></span></h4>
<div class="my-8">
  <img src="DLP-AIP-Defender.png" alt="Description of Image" class="mx-auto rounded-lg shadow-lg" />
</div>
<p class= "mt-8 text-gray-700 dark:text-gray-300">
  Data Loss Prevention helps you prevent sensitive information from leaving your organization by setting up policies and rules to detect and block data leakage. Our consultants can work with you to implement and manage Data Loss Prevention in your environment.
</p>

<h4 class="text-gray-900 dark:text-white font-bold text-3xl md:text-3xl xl:text-3xl">Microsoft Defender for Cloud Apps<span class="text-primary dark:text-white"></span></h4>
<div class="my-8">
  <img src="proxy-architecture.png" alt="Description of Image" class="mx-auto rounded-lg shadow-lg" />
</div>
<p class= "mt-8 text-gray-700 dark:text-gray-300">
  Microsoft Defender for Cloud Apps provides visibility and protection for your cloud-based applications and services. Our experts can help you integrate and manage Microsoft Defender for Cloud Apps to enhance your security posture.
</p>
            
           
        </div>
    </Container>
</div>